<!-- Modal Add -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ updateMaterial ? "Editar material" : "Crear material" }}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="uploadForm" (ngSubmit)="updateMaterial ? update() : submit()">
            <div class="mb-3">
                <input type="text" [(ngModel)]="name" formControlName="name" class="form-control"
                    placeholder="Coloca el nombre" id="Name" aria-describedby="Name" autocomplete="off">
            </div>
            <div class="mb-3">
                <label for="unit_measurement" class="form-label">Unidad de medida</label>
                <select class="form-control" formControlName="unit_measurement" name="unit" id="unit"
                    [(ngModel)]="unit_measurement">
                    <option [value]="12" class="firstOption">Seleccione una unidad de medida</option>
                    <option [value]="unit.id" *ngFor="let unit of unitMeasurementArray;">
                        {{ unit.value }}
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Precio</label>
                <input type="number" min="0" class="form-control" id="price" formControlName="price"
                    [(ngModel)]="price">
            </div>
            <div class="mb-3">
                <label for="stock" class="form-label">Stock</label>
                <input type="number" min="0" class="form-control" id="stock" formControlName="stock"
                    [(ngModel)]="stock">
            </div>
            <button type="submit" class="btn btn-primary float-end" data-bs-dismiss="modal">{{ updateMaterial ? "Actualizar" : "Crear"  }}</button>
        </form>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div> -->
</ng-template>

<!-- Modal Delete -->
<ng-template #deleteContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Eliminar material</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div>
            <h5 class="py-2">¿Estas seguro de eliminar el material: <strong>{{ materialName }}</strong> ?</h5>
        </div>
    </div>
    <div class="modal-footer d-flex">
        <div>
            <button class="btn btn-primary" (click)="modal.dismiss('Cross click')">Cancelar</button>
        </div>
        <div>
            <button class="btn btn-danger" (click)="deleteMaterial(materialId)">Eliminar</button>
        </div>
    </div>
</ng-template>

<div class="container">
    <div class="float-end my-5 py-3">
        <button class="btn btn-primary mb-2 me-2" (click)="openVerticallyCentered(content, 'create', null)">
            <i class="fa fa-plus" aria-hidden="true"></i> Agregar
        </button>
    </div>

    <h2 class="text-center pt-5">CRUD Materiales</h2>

    <table class="table table-striped text-uppercase text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Unidad de medida</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th scope="col">Total</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let material of materialArray; index as i">
                <th scope="row">{{ material.id }}</th>
                <td>
                    {{ material.name }}
                </td>
                <td>
                    {{ getTheUnitMeasurement(material.unit_measurement) }}
                </td>

                <td>{{ material.price | currency }}</td>
                <td>{{ material.stock | number }}</td>
                <td>{{ material.total | currency }}</td>

                <td class="d-flex justify-content-evenly">
                    <div>
                        <button class="btn btn-primary" title="Editar" (click)="openVerticallyCentered(content, 'edit', material)">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div *ngIf="material.stock == 0">
                        <button class="btn btn-danger" title="Eliminar"
                            (click)="openModalDelete(deleteContent, material)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>